.page-title {
    font-weight: 600;
    font-size: 1.25rem;
}

ul.nav.nav-tabs {
    border-bottom: 0;
}

div.code-example ul li button.btn.nav-link {
    display: inline-flex;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transition: all ease 0.25s;
}

    div.code-example ul li button.btn.nav-link.active {
        border-bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
        transition: all ease 0.25s;
    }

    div.code-example ul li button.btn.nav-link:hover {
        color: rgba(0, 0, 0, 0.85);
        text-decoration: none;
        background-color: rgba(210, 244, 234, 0.85);
        transition: all ease 0.25s;
    }

    div.code-example ul li button.btn.nav-link:focus {
        box-shadow: none;
    }

.border-radius-bottom-right-0 {
    border-bottom-right-radius: 0;
}

.border-radius-bottom-left-0 {
    border-bottom-left-radius: 0;
}

.code-example-table {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}

.code-example-line-nr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: right;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    font-family: 'JetBrains Mono', monospace;
    white-space: nowrap;
    user-select: none;
}

.code-example-line {
    padding-left: 0.5rem;
    font-family: 'JetBrains Mono', monospace;
    white-space: pre-wrap;
    word-break: break-all;
    tab-size: 4;
}

.code-example-table tr {
    background-color: transparent;
    transition: background-color ease 0.1s;
}

    .code-example-table tr:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color ease 0.1s;
    }
